<!DOCTYPE html>
<html>
<head>
<style>
body{
  background-color: #fad390;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'menu menu main main main right'
  'menu menu footer footer footer footer';
  grid-gap: 0px;
  background-color: "white";
  padding-top : 2%;
  padding-bottom : 2%;
}

.grid-container > div {
  background-color: #e58e26;
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn1 {
    background-color: Red ;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn2 {
    background-color: Black ;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
.c{
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-class{
  height: 14rem;
  width:14rem;
}
  


</style>
<script type="text/javascript">
  function n1(){
    var music = new Audio('../sounds/numbers/1.mp3');
    music.play();
  }
  function n2(){
    var music = new Audio('../sounds/numbers/2.mp3');
    music.play();
  }
  function n3(){
    var music = new Audio('../sounds/numbers/3.mp3');
    music.play();
  }
  function n4(){
    var music = new Audio('../sounds/numbers/4.mp3');
    music.play();
  }
  function n5(){
    var music = new Audio('../sounds/numbers/5.mp3');
    music.play();
  }
  function n6(){
    var music = new Audio('../sounds/numbers/6.mp3');
    music.play();
  }
  function n7(){
    var music = new Audio('../sounds/numbers/7.mp3');
    music.play();
  }
  function n8(){
    var music = new Audio('../sounds/numbers/8.mp3');
    music.play();
  }
  function n9(){
    var music = new Audio('../sounds/numbers/9.mp3');
    music.play();
  }
  function n10(){
    var music = new Audio('../sounds/numbers/10.mp3');
    music.play();
  }
</script>>
</head>
<body>
<div class="sticky">
      <div style='float: left;'>
          <a class="btn" href = "/dashboard"><i class="fa fa-home">    </i> Home</a>
          <button class="btn" onclick="history.back()"><i class="fa fa-        bars"></i> Back</button>
      </div>
      <div style='float: right;'>
          <button class="btn1" id = 'g' onclick="self.close()"><i class="fa fa-  home">    </i> Close</button>
      </div>
  </div>
  <br></br> 
  


<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/1.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" onclick="n1()">play</button></div>
    <div class="item5"><font color = 'blue' size="100%"><h1>One</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/2.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n2()">play </button></div>
    <div class="item5"><font color = 'green' size="100%"><h1>Two</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/3.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n3()"> play</button></div>
    <div class="item5"><font color = 'blue' size="100%"><h1>Three</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/4.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n4()">play </button></div>
    <div class="item5"><font color = 'red' size="100%"><h1>Four</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/5.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n5()">play</button></div>
    <div class="item5"><font color = 'purple' size="100%"><h1>Five</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/6.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n6()">play</button></div>
    <div class="item5"><font color = 'blue' size="100%"><h1>Six</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/7.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n7()">play</button></div>
    <div class="item5"><font color = 'green' size="100%"><h1>Seven</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/8.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n8()">play</button></div>
    <div class="item5"><font color = 'purple' size="100%"><h1>Eight</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/9.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n9()">play</button></div>
    <div class="item5"><font color = 'yellow' size="100%"><h1>Nine</h1></font></div>
  </div>
</div>
<div class = 'c' background-color = 'Red'>
  <div class="grid-container">
    <div class="item2"><a href="/practice/numbers"><img class="img-class" src="../images/numbers/10.png" alt="One" width="100%" height="100%"></a></div>
    <div class="item3"></div>  
    <div class="item4"><button class="btn2" id = 'g' onclick="n10()">play</button></div>
    <div class="item5"><font color = 'blue' size="100%"><h1>Ten</h1></font></div>
  </div>
</div>


</body>
</html>
