<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="../styles/style_practice_numbers.css" />
  </head>
  <script type="text/javascript">
    window.addEventListener("load", () =>{
  const canvas = document.querySelector("#canvas");
  const ctx = canvas.getContext("2d");


  //Resizing
  canvas.height = 690;  
  canvas.width = 1250;
  
  var var_display_img = '../images/numbers/1.png'
  
  make_base(var_display_img);

  function make_base(image)
  {
    var img = image
    base_image = new Image();
    base_image.height = 690;
    base_image.width = 1500;
    base_image.src = img;
    
    base_image.onload = function(){
      ctx.drawImage(base_image, 0, 0);
    }
  }

  //variabels
  let painting = false;

  function startPosition(){
    painting = true;
    draw(e);
  }
  function finishedPosition(){
    painting = false;
    ctx.beginPath();
  }
  function draw(e){
    if(!painting) return;
    ctx.lineWidth = 20;
    ctx.lineCap = "round";
    ctx.lineTo(e.clientX, e.clientY);
    ctx.stroke();
    ctx.beginPath();
    ctx.moveTo(e.clientX, e.clientY);
  }


  //evet listener
  canvas.addEventListener('mousedown', startPosition);
  canvas.addEventListener('mouseup', finishedPosition);
  canvas.addEventListener('mousemove', draw);

});

function clicker(){
  alert("d")
  var img = '../images/numbers/1.png'
  base_image = new Image();
  base_image.height = 690;
  base_image.width = 1500;
  base_image.src = img;
  ctx.drawImage(base_image, 0, 0);
  
}



  </script>

  <body>
    <div class="row">
      <div class="col-1"><a href="/one?uid=0" class="btn btn-primary">0 - ZERO</a></div>
      <div class="col-1"><a href="/one?uid=1" class="btn btn-primary">1 - ONE</a></div>
      <div class="col-1"><a href="/one?uid=2" class="btn btn-primary">2 - TWO</a></div>
      <div class="col-1"><a href="/one?uid=3" class="btn btn-primary">3 - THREE</a></div>
      <div class="col-1"><a href="/one?uid=4" class="btn btn-primary">4 - FOUR</a></div>
      <div class="col-1"><a href="/one?uid=5" class="btn btn-primary">5 - FIVE</a></div>
      <div class="col-1"><a href="/one?uid=6" class="btn btn-primary">6 - SIX</a></div>
      <div class="col-1"><a href="/one?uid=7" class="btn btn-primary">7 - SEVEN</a></div>
      <div class="col-1"><a href="/one?uid=8" class="btn btn-primary">8 - EIGHT</a></div>
      <div class="col-1"><a href="/one?uid=9" class="btn btn-primary">9 - NINE</a></div>
      
    </div>
    

    <canvas  id="canvas"></canvas>

    </div>
    <br>

    <div class="p">
      <div style='float: left;'>
            <a href="/practice" class="btn btn-primary">Home</a>
            <button class="btn" onclick="history.back()"><i class="fa fa-        bars"></i> Back</button>
            
      </div>
      <div style='float: right;'>
      <button class="btn1" onclick="window.location.href=window.location.href">Clear </button> 
      </div > 
    </div>  
  </body>
</html>