<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="../styles/trial.css" />
  </head>
  
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"> </script>
  <script type="text/javascript" src="../scripts/test.js"></script>
  
  <body>
      
    <div>
      <div>
        
        <canvas  id="canvas"></canvas>
      </div>
      <br></br>

      <h1>Draw</h1>
      <h2 id="number"><Script>document.getElementById("number").innerHTML = item</Script></h2>
      <div>
            
            <button class= "btn"onclick="window.location.href=window.location.href">Clear </button>  
            <button class= "btn"onclick="Tester()">t </button>
            

            <form action="/imgdatas" method="POST">
              
              <button onclick="sendImg1()">Test</button>
              
              
            </form>
      </div> 
    </div>
    <br></br>
  </body>
</html>