body{
  background-color: #fad390;
}


#canvas{
	border : 3px solid black;
}


button{
	  background-color: DodgerBlue;
	  align : center;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.digit-demo-container {
    background-color: rgb(236, 172, 74);
    border-radius: 5px;
    margin: auto;
   }
    .digit-demo-container h3 {
      font-size: 15px;
      background-color: rgb(0, 0, 0);
      padding: 20px;
      color: white;
      margin: 0px;
  }
  
  .flex-two {
    display: flex;
    flex-wrap: wrap; 
  }
  .flex-two div {
    flex: 1;
    padding: 5px;
    text-align: center; 
  }
  @media screen and (max-width: 640px) {
      .flex-two div {
          padding: 5px; 
      } 
  }
  
  .canvas-box-wrapper {
    display: block !important; }
  
  
  #chart_box {
    background-color: white;
    padding: 20px;
    border-radius: 5px; 
  }
  
  .btn{
    width: 150px;
  }
  
  .coding {
    background-color: #ffefef !important;
    font-size: 12px !important;
    font-family: monospace !important;
    line-height: 25px;
    border-radius: 4px !important;
    padding: 3px 6px !important;
    color: #d2372a !important;
    border: 1px solid #fad1d1;
  }
  
  @media screen and (max-width: 767px) {
      #chart_box {
        padding: 5px; 
      } 
  }
  
  .question-image{
    margin-left: 130px;
    margin-bottom: 35px;
  }

  .main-page{
    margin-left: 75px;
  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* navbar */
.custom-nav{
  background-color: #e58e26;
  padding-left: 30px;
  padding-right: 30px;
}

.head-name{
  font-family: 'Major Mono Display', monospace;
  color: #b71540;
  font-size: 40px;
}

.jumbotron{
  background-color: #fad390;
  
}
.cust-text{
  font-family: 'Kulim Park', sans-serif;
}
.card-body{
  background-color: #f6b93b;
}
.card{
  width: 25rem;
  height: 22rem;
}

.custom-button{
  background-color: #b71540;
}

p{
  font-size: 20px;
}





